{% extends "base.html" %}

{% block content %}
    <h4 style="font-family: 'Microsoft YaHei UI';color: #2aabd2;">| <span style="color: #0f0f0f">SQL文档规范：</span></h4>
    <div style="width:100%; height:2px; border-top:1px solid #d5d5d5; clear:both;margin-top: 18px;margin-bottom: 15px;"></div>
    <h4 style="font-weight:bold;">请认真阅读SQL审核系统使用说明与开发规范：</h4>
    <span style="font-family:Verdana,sans-serif">
查看：
<a style="text-decoration:none;color:rgb(1,87,130)" target="_blank"
   href="http://192.168.2.149/static/pdf/web/viewer.html?file=sqluseage.pdf">SQL审核系统使用说明</a>
</span>
    <br>
    <span style="font-family:Verdana,sans-serif">
查看：
<a style="text-decoration:none;color:rgb(1,87,130)" target="_blank"
   href="http://192.168.2.149/static/pdf/web/viewer.html?file=develope.pdf">SQL开发规范（简化版）</a>
</span>
    <br>
    <span style="font-family:Verdana,sans-serif">
查看：
<a style="text-decoration:none;color:rgb(1,87,130)" target="_blank"
   href="http://192.168.2.149/static/pdf/web/viewer.html?file=full.pdf">SQL开发规范（完全版）</a>
</span>

{% endblock content %}
