{% extends "base.html" %}

{% block content %}
			<h4>版本工单名称：<span id="workrelname">{{release_name}}</span></h4>
			<hr>
			<table class="table table-striped table-hover" id="detail1" style="width: 90%;">
				<thead>
					<tr>
                        <th>
                            文件名
                        </th>
						<th>
							发起人
						</th>
						<th>
							上线环境
						</th>
						<th>
							发起时间
						</th>
						<th>
							结束时间
						</th>
						<th>
							当前状态
						</th>
                        <th>
							查看详情
						</th>
                        <th>
							自动审核
						</th>

					</tr>
				</thead>
				<tbody>
                    {% for i in releaseDetail_set %}
{#                   以下两行代码为每行中查看详情与自动审核、执行通过或中止执行操作按钮获取本行id与sql文件名的方式，顺序与位置不要移动#}
                    <input type="hidden" class="rel_file" value="{{i.release_file}}"/>
                    <input type="hidden" class="detailrel_id" name="detailrel_id" value="{{i.id}}">

                    <tr class="success hd" id="detail_record">
                        <td  style="width: 380px;">
							{{i.release_file}}
						</td>
						<td style="width: 110px;">
							{{i.engineer}}
						</td>
						<td style="width: 120px;">
							{{i.cluster_name}}
						</td>
						<td style="width: 170px;">
							{{i.create_time|date:"Y-m-d H:i:s"}}
						</td>
						<td style="width: 170px;">
							{{i.finish_time|date:"Y-m-d H:i:s"}}
						</td>
						<td>
							{% if i.status == "已正常结束" %}
								<font color="green">
							{% else %}
								<font color="red">
							{% endif %}
								<B id="Detail_status">{{i.status}}</B></font>
						</td>
                        <td style="width: 110px;padding-left: 7px;">
                            <button class='btn btn-info btn-xs rev_detail' style='width: 60px;height: 25px;float: left;margin-right: 0px;' type="button" value="查看详情">查看详情</button>
						</td>
                        <td style="width: 110px;padding-left: 7px;">
                            <button class='btn btn-info btn-xs rel_autoreview' style='width: 60px;height: 25px;float: left;margin-right: 0px;' type="button" value="自动审核">自动审核</button>
                        </td>
					</tr>

                    <tr class="success" id="detail2" style="display: none">
                        <td colspan="8" style="padding:0px;border: 0px;margin: 0px;">
                        <table class="table table-striped table-hover pad" style='table-layout:fixed;width: 100%;height: 100%'>
                            <thead>
                                <tr>
                                    <th width="40px">
                                        ID
                                    </th>
                                    <th>
                                        SQL内容
                                    </th>
                                    <th>
                                        自动审核结果
                                    </th>
                                    <th width="100px">
                                        影响行数
                                    </th>
                                    <th width="100px">
                                        执行耗时
                                    </th>
                                    <th width="100px">
                                        执行状态
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                        {% if i.status == '等待DBA审核' %}
							{% if loginUser in all_reviewer %}
							<form  style="display:inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="execute_id" value="{{i.id}}">
                            <input id="btnExecute" type="button" class="btn btn-primary btn-default audit_ok" data-loading-text="Loading..." value="通过并执行" />
                            </form>
							{% endif %}

                            <form style="display:inline-block;">
                                {% csrf_token %}
                                <input type="hidden" name="recordid" value="{{i.id}}">
                                <input type="button" id="btnCancel"  class="btn btn-default audit_failed" data-loading-text="Loading..." value="终止流程" />
                            </form>
                        {% elif i.status == '已正常结束'%}
                            <form  style="display:inline-block;">
                                {% csrf_token %}
                                <input type="hidden" name="workflowid" value="{{i.id}}">
                            </form>

                        {% endif %}
                        </td>
                    </tr>

                    {% empty %}
                        <tr>
                            <td>当前状态暂无工单.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
					    </tr>
					{% endfor %}
				</tbody>
			</table>

{% endblock content%}
