{% extends "base.html" %}

{% block content %}
    <h4 style="font-family: 'Microsoft YaHei UI';color: #2aabd2;">| <span style="color: #0f0f0f">开发环境SQL工单提交：</span></h4>
    <div style="width:100%; height:2px; border-top:1px solid #d5d5d5; clear:both;margin-top: 18px;margin-bottom: 15px;"></div>
    <div class="container-fluid">
        <div class="row clearfix">

            <form id="form-submitsql" action="/autoreview/" method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                <div class="col-md-9 column">
                    <pre id="editor" style="min-height:300px;font-size: 16px;"></pre>
                    <div class="scrollmargin"></div>
                </div>
                <div style="display: none" class="col-md-9 column">
                    <textarea id="sql_content" name="sql_content" class="form-control" data-name="SQL内容" placeholder="请在此提交SQL，请以分号结尾。例如：use test; create table t1(id int)engine=innodb;" style="min-height:300px;" required></textarea>
                </div>

                <div class="col-md-3 column">
                    <div class="form-group">
                        <input id="workflow_name" type="text" name="workflow_name" class="form-control"
                               data-name="上线单名称" placeholder="请输入上线单名称，如:XX项目会员功能建表" required>
                    </div>
                    <div class="form-group">
                        <select id="cluster_name" name="cluster_name"
                                class="selectpicker show-tick form-control bs-select-hidden" data-name="要上线的环境"
                                data-placeholder="请选择要上线的环境:" required>
                            <option value="is-empty" disabled="" selected="selected">请选择要上线的环境:</option>
                            {% for cluster_name,dbs in dictAllClusterDb.items %}
                                {#                            {% if cluster_name != "TEST环境" %}#}
                                <option value="{{ cluster_name }}">{{ cluster_name }}</option>
                                {#                            {% endif %}#}
                            {% endfor %}

                        </select>
                    </div>


                    <div class="form-group">
                        <select id="is_backup" name="is_backup"
                                class="selectpicker show-tick form-control bs-select-hidden" data-name="是否选择备份"
                                data-placeholder="请选择是否要备份:" required>
                            <option value="is-empty" disabled="" selected="selected">请选择是否要备份:</option>
                            <option value="是">是</option>
                            <option value="否">否</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="review_man" name="review_man"
                                class="selectpicker show-tick form-control bs-select-hidden" data-name="审核人"
                                data-placeholder="请选择审核人:" required>
                            <option value="is-empty" disabled="" selected="selected">请选择审核人:</option>
                            {% for man in reviewMen %}
                                <option value="{{ man }}">{{ man }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--增加副审核人选项-->
                    <!--<div class="form-group">
                                    <div class="panel-group" id="accordion">
                                         <div class="panel panel-default">
                                              <div class="panel-heading">
                                                <h4 class="panel-title">
                                                   <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                   <i class="glyphicon-plusglyphicon"></i>
                                                   增加副审核人（可选)</a>
                                                </h4>
                                               </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body" style="margin-left:25px">
                                    {% for man in reviewMen %}
                                        <div class="radio" id="{{ man }}">
                                            <input type="radio" id="radio1"
                                            name="sub_review_man" value="{{ man }}" />
                                            <label for="radio1"> {{ man }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                    <div class="form-group">
                        <input type="button" id="btn-autoreview" class="btn btn-info" value="SQL检测"/>
                        <button type="reset" id="btn-reset" class="btn btn-warning">清空选项</button>
                        <!-- <button type="submit" class="btn btn-primary">提交工单</button> -->
                        <input id="btn-submitsql" type="button" class="btn btn-primary" value="提交工单"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="text-info" style="font:bold 14px 微软雅黑;color: DarkCyan;margin:18px 10px 10px 3px;width:800px;">
        <li>建议业务相关表加上公共字段(latest_time,is_delete,create_time,具体请参考SQL开发规范);</li>
        <li><span style="color: red">本平台提交成功后，请务必及时同步到svn，</span>因svn未同步导致的其他环境版本发布问题由脚本提交人负责;</li>
    </div>
    <div id="inception-result" style="display:none;" class="row clearfix">
        <br/>
        <div id="inception-result-col" class="col-md-12">

        </div>
    </div>
    {% load staticfiles %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'user/js/submitsql.js' %}"></script>
    <script src="{% static 'user/js/autoreview.js' %}"></script>
    <!-- load ace -->
    <script src="{% static 'user/js/src-noconflict/ace.js' %}"></script>
    <script src="{% static 'user/js/src-noconflict/ext-language_tools.js' %}"></script>

    <script>
        // trigger extension
        ace.require("ace/ext/language_tools");
{#        var editor = ace.edit("editor", {#}
{#            theme: "ace/theme/tomorrow_night_blue",#}
{#            mode: "ace/mode/sql",#}
{#            autoScrollEditorIntoView: true,#}
{#            maxLines: 200,#}
{#            minLines: 20,#}
{#            // enable autocompletion and snippets#}
{#            enableBasicAutocompletion: true,#}
{#            enableSnippets: true,#}
{#            enableLiveAutocompletion: true,#}
{#            setHighlightActiveLine: false#}
{##}
{#        });#}
            var editor = ace.edit("editor");
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true,
                enableSnippets: true,
                maxLines: 200,
                minLines: 20

            });
            editor.setTheme("ace/theme/dracula");
            editor.getSession().setMode("ace/mode/sql");

    </script>
{#    <script src="{% static 'user/js/show_own_source.js' %}"></script>#}

{% endblock content %}
